extends layout

block content
  #header
    img(id='header-pic', src='/img/me.jpg')
    h1 Douglas Chen
    h2(id='link-line'): :markdown
      [resume](/files/resume.pdf)
      [linkedin](https://www.linkedin.com/in/douglas-chen-982861a3)
      [github](https://github.com/dchen496)
      [email](mailto:dpchen@mit.edu)
