extends layout

block content
  #header
    img(id='header-pic', src='/img/me.jpg')
    h1 Douglas Chen
    h2: :markdown
      sophomore@[mit](http://mit.edu) & summer 2016 intern@[spacex](http://spacex.com)
    h2(id='link-line'): :markdown
      [resume](https://www.dropbox.com/s/supfa89hm2naop9/Douglas-Chen-Resume.pdf?dl=1)
      [linkedin](https://www.linkedin.com/in/douglas-chen-982861a3)
      [github](https://github.com/dchen496)
      [email](mailto:dpchen@mit.edu)
