$blue: #004488

html
  height: 100%
  background:
    color: darken($blue, 10%)
body
  padding: 0
  margin: 0
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif

h1
  font-size: 30pt

h2
  font-weight: 500
  font-size: 14pt

#header
  padding: 150px 0
  text-align: center
  color: white
  a
    color: lighten($blue, 55%)
    text-decoration: none

#header-pic
  width: 300px
  border: 5px solid lighten($blue, 55%)
  border-radius: 20%

#link-line
  word-spacing: 25px
