$blue: #004488

$blue24: darken($blue, 7%)
$blue22: darken($blue24, 1%)
$blue1d: darken($blue24, 2%)
$blue1b: darken($blue24, 3%)
$blue1a: darken($blue24, 4%)
$blue15: darken($blue24, 5%)
$blue13: darken($blue24, 6%)

html
  height: 100%
  background: linear-gradient(27deg, $blue15 5px, transparent 5px) 0 5px, linear-gradient(207deg, $blue15 5px, transparent 5px) 10px 0px, linear-gradient(27deg, $blue22 5px, transparent 5px) 0px 10px, linear-gradient(207deg, $blue22 5px, transparent 5px) 10px 5px, linear-gradient(90deg, $blue1b 10px, transparent 10px), linear-gradient($blue1d 25%, $blue1a 25%, $blue1a 50%, transparent 50%, transparent 75%, $blue24 75%, $blue24)
    color: $blue13
    size: 20px 20px;
body
  padding: 0
  margin: 0
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif

h1
  font-size: 30pt

h2
  font-weight: 500
  font-size: 14pt

#header
  padding-top: 150px
  text-align: center
  color: white
  a
    color: lighten($blue, 55%)
    text-decoration: none

#header-pic
  width: 300px
  border: 3px solid lighten($blue, 55%)
  border-radius: 20%

#link-line
  word-spacing: 25px
